*{
    margin: 0px;
    padding: 0px;
}
.page2{
    display: none;
}

body{
    background-image: url("/imagen\ de\ fondo\ .webp");
    color: darkgoldenrod;
  

}
header{
    display: flex;
    justify-content: space-between;
    background: rgba(5, 26, 78, 0.909);
    align-items: center;
    padding: 10px;
}

.logo1 img{
    height: 160px;
    
}


.logo2 img{
    height: 120px;
}


h2{
    
    margin-top: 150px;
    color: aliceblue;
    

}

figure{
    display: flex;
    justify-content: space-between;
    background: rgba(5, 26, 78, 0.909);
    align-items: center;
    padding: 10px;

}

.logo3 img{
    height: 160px;
}
a {
    text-decoration: none;
    color: darkorange;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 15px;
}
nav a{
    font-weight: 600;
    padding-right: 30px;
}
nav a:hover{
    color: antiquewhite;
}
#mensaje{
    color: darkorange;
}

