* {
	margin: 0px;
	padding: 0px;
}

.page2 {
	display: none;
	flex-direction: column;


}

body {
	background-image: url("imagen\ de\ fondo\ .webp");
	color: darkgoldenrod;
}

header {
	display: flex;
	justify-content: space-between;
	background: rgba(5, 26, 78, 0.909);
	align-items: center;
	padding: 10px;
}

.logo1 img {
	height: 160px;

}


.logo2 img {
	height: 120px;
}


h2 {
	margin-top: 150px;
	color: aliceblue;
}

figure {
	display: flex;
	background: rgba(5, 26, 78, 0.909);
	align-items: center;
	padding: 10px;
}

.logo3 img {
	height: 160px;
}

p#saludo {
	text-align: center;
	margin-left: 100px;
	font-size: 30px;

}

section#cifrador {
	align-items: center;

}

h3 {
	text-align: center;
	padding: 15px;
	font-size: 25px;
}

input#mensaje {
	width: 350px;
	height: 100px;
	padding: 10px 10px;
	box-sizing: border-box;
	border: 2px solid darkgoldenrod;
	border-radius: 4px;
	background-color: rgba(5, 26, 78, 0.909);
	resize: none;
	margin: 3%;
	color: aliceblue;


}

input#desplazamiento {
	align-items: center;
	width: 50px;
	margin: 3%;
	background-color: rgba(5, 26, 78, 0.909);
	border: 2px solid darkgoldenrod;
	box-sizing: border-box;
	color: darkgoldenrod;
	writing-mode: horizontal-tb !important;
	padding: 3px;
	align-items: center;
}

input#mensaje2 {

	width: 350px;
	height: 100px;
	padding: 10px 10px;
	box-sizing: border-box;
	border: 2px solid darkgoldenrod;
	border-radius: 4px;
	background-color: rgba(5, 26, 78, 0.909);
	resize: none;
	margin: 3%;
	color: aliceblue;

}



button {
	height: px;
	width: 70px;
}